div {
	display: contents;

	:global(.input) {
		cursor: pointer;
	}

	:global(.icon) {
		pointer-events: none;
	}

	:global(.tooltip) {
		> :global(.button) {
			all: unset;

			:global(.element) {
				all: unset;
			}
		}
	}
}
