.button {
	position: relative;
	border-radius: 10rem;
	font-size: 1.4rem;
	line-height: 1;
	font-weight: 700;
	display: inline-flex;
	text-wrap: nowrap;
	padding: 0.75em 1em;
	overflow: hidden;
	transition:
		background-color 200ms,
		color 200ms;

	&:not(.text) {
		box-shadow: 0.1rem 0.1rem 0.2rem rgba(0, 0, 0, 0.4);
		background: $primaryColor;
		color: $textColorInverse;
	}

	&:not(.icon) > .children > :global(.icon) {
		margin: -0.5em 0;
	}
}

.hover {
	@extend %hover;
}

.icon {
	border-radius: 50%;
	padding: 0.25em;
}

.loadingIcon {
	position: absolute;
	left: 50%;
	top: 50%;
	translate: -50% -50%;
}

.disabled {
	pointer-events: none;
	color: $textColorDisabled;

	&:not(.text) {
		background: $primaryColorDisabled;
	}
}

.loading {
	pointer-events: none;

	.children {
		opacity: 0;
	}
}

.children {
	transition: opacity 200ms;
	display: flex;
	align-items: center;
	gap: 1rem;

	> :global(.icon) {
		font-size: 1.5em;
	}
}
