.backdrop {
	position: fixed;
	inset: 0;
	background: rgba(0, 0, 0, 0.8);
}

.section {
	background: white;
	position: fixed;
	left: 0;
	top: 0;
	height: 100%;
	transition: translate 200ms;
	min-width: 20rem;
	max-width: calc(100% - 5rem);

	&:not(:global(.open)) {
		translate: -100%;
	}
}
