.backdrop {
	position: fixed;
	inset: 0;
	background: rgba(0, 0, 0, 0.8);
	z-index: 1;
}

.section {
	position: fixed;
	left: 0;
	top: 0;
	height: 100%;
	overflow: auto;
	transition: translate 200ms;
	max-width: calc(100% - 5rem);
	z-index: 1;

	&:not(.open) {
		translate: -100%;
	}
}
