.dialog {
	@include view-transition(modal);
	animation: appear 200ms;
	border: none;
	border-radius: 0.4rem;
	box-shadow: 0 0.4rem 0.6rem;
	max-width: 90vw;
	max-height: 90vh;
	padding: 0;
	overflow: hidden;
	margin: auto;
	display: grid;

	> div {
		overflow: auto;
		position: relative;
		max-width: inherit;
		max-height: inherit;
	}
}

.dialog::backdrop {
	@include view-transition(modal-backdrop);
	animation: fadeIn 200ms;
	background: rgba(0, 0, 0, 0.8);
}

.reverse {
	animation: disappear 200ms forwards;
}

.reverse::backdrop {
	animation: fadeOut 200ms forwards;
}

@keyframes fadeIn {
	from {
		opacity: 0;
	}

	to {
		opacity: 1;
	}
}

@keyframes fadeOut {
	from {
		opacity: 1;
	}

	to {
		opacity: 0;
	}
}

@keyframes appear {
	from {
		opacity: 0;
		scale: 0;
		display: none;
	}

	to {
		opacity: 1;
		scale: 1;
		display: block;
	}
}

@keyframes disappear {
	from {
		opacity: 1;
		scale: 1;
		display: block;
	}

	to {
		opacity: 0;
		scale: 0;
		display: none;
	}
}

.close {
	position: absolute;
	top: 1rem;
	right: 1rem;
}
