%hover {
	position: relative;
	cursor: pointer;

	&::before {
		--opacity: 0.1;

		content: "";
		position: absolute;
		inset: 0;
		height: 100%;
		width: 100%;
		background: currentColor;
		opacity: 0;
		pointer-events: none;
	}

	@media (hover: hover) {
		&:hover::before {
			opacity: var(--opacity);
		}
	}

	&:active::before {
		opacity: calc(var(--opacity) * 2);
	}
}
