%hover {
	position: relative;
	cursor: pointer;

	&::before {
		content: "";
		position: absolute;
		inset: 0;
		height: 100%;
		width: 100%;
		background: currentColor;
		opacity: 0;
		z-index: -1;
	}

	@media (hover: hover) {
		&:hover::before {
			opacity: 0.1;
		}
	}

	&:active::before {
		opacity: 0.2;
	}
}
