%hover {
	--opacity: 0.1;

	position: relative;
	cursor: pointer;

	&::before {
		content: "";
		position: absolute;
		inset: 0;
		height: 100%;
		width: 100%;
		background: currentColor;
		opacity: 0;
		pointer-events: none;
	}

	@media (hover: hover) {
		&:hover::before {
			opacity: var(--opacity);
		}
	}

	&:active::before {
		opacity: calc(var(--opacity) * 2);
	}
}

@mixin parentHover($selector) {
	cursor: pointer;

	& > #{$selector} {
		@extend %hover;
	}

	&:hover > #{$selector}::before {
		opacity: var(--opacity);
	}

	&:active > #{$selector}::before {
		opacity: calc(var(--opacity) * 2);
	}
}
