$textColor: var(--text-color);
$textColorInverse: var(--text-color-inverse);
$textColorDisabled: var(--text-color-disabled);
$primaryColor: var(--primary-color);
$primaryColorDisabled: var(--primary-color-disabled);
