$textColor: var(--text-color, black);
$textColorInverse: var(--text-color-inverse, white);
$textColorDisabled: var(--text-color-disabled, grey);
$primaryColor: var(--primary-color, blue);
$primaryColorDisabled: var(--primary-color-disabled, lightgrey);
