.menu {
	display: contents;
}

.buttons {
	> :global(.button) {
		text-transform: none;
		border-radius: unset;
		min-width: 100%;
		color: white;
		text-align: start;

		> :global(.children) {
			box-shadow: none;
		}
	}
}
