.menu {
	display: contents;
}

.buttons {
	:global(.button) {
		text-transform: none;
		border-radius: unset;
		min-width: 100%;
		color: white;
		text-align: start;

		:global(.element) {
			box-shadow: none;
		}
	}
}

.right {
	:global(.tooltip) {
		> :global(.content) {
			right: 0;
		}
	}
}
